{{ $cover_src := .Params.bookcase_cover_src | default .Params.bookcase_cover_src_dark }}
{{ $cover_src_dark := .Params.bookcase_cover_src_dark | default .Params.bookcase_cover_src }}
{{ $cover_title := .Params.bookcase_cover_title | default .Title }}

<div class="bookcase-item">
    <figure>
        {{ if or (hasPrefix $cover_src "fa-") (hasPrefix $cover_src "fab ") (hasPrefix $cover_src "fas ") (hasPrefix $cover_src "far ") }}
            <div class="bookcase-item-icon-wrapper">
                <i class="{{ $cover_src }}"></i>
            </div>
        {{ else }}
            <img src="{{ $cover_src | absURL }}" class="bookcase-item-img-light" alt="bookcase-item-img-light">
            <img src="{{ $cover_src_dark | absURL }}" class="bookcase-item-img-dark" alt="bookcase-item-img-dark">
        {{ end }}
        <a href="{{ .RelPermalink }}" class="bookcase-item-overlay"></a>
    </figure>
    <figcaption>
        <a href="{{ .RelPermalink }}">{{ $cover_title }}</a>
    </figcaption>
</div>
